*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1 rem is.
  font-size: 62.5%;
  @include respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px
  }
  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px
  }
  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px;
  }
}

body {
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
}
button {
  cursor: pointer;
}

::selection {
  background-color: $color-primary-dark-2;
  color: $color-white;
}