$color-primary-dark-1: #FFB213;
$color-primary-dark-2: #FFC831;
$color-primary-dark-3: #FFD950;
$color-primary-light-3: #FFEA77;
$color-primary-light-2: #FFF7A4;
$color-primary-light-1: #ebebeb;

$color-white: #fff;
$color-white-dark-1: #f5f5f5;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-blue: #3490dc;
$color-indigo: #6574cd;
$color-purple: #9561e2;
$color-pink: #f66d9b;
$color-red: #e3342f;
$color-orange: #f6993f;
$color-yellow: #ffb900;
$color-green: #38c172;
$color-teal: #4dc0b5;
$color-cyan: #6cb2eb;

$color-grey-light-1: #ebebeb;
$color-grey-light-2: #ededed;
$color-grey-light-3: #BFBFBF;
$color-grey-light-4: #8C8C8C;
$color-grey-dark-3: #808080;
$color-grey-dark-2: #595959;
$color-grey-dark-1: #404040;



// Font
$default-font-size: 1.6rem;

// Grid
$grid-with: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$background-url: "https://image.freepik.com/free-vector/futuristic-technology-based-matrix-coding-background_1302-17086.jpg";